.buttonNom {
  border: none;
  outline: none;
  /* background-color: #f1fafe50; */
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin-top: 60px;
  text-align: center;
  color: var(--colorP10);
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttonNom:active {
  transform: scale(0.93);
}
