@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorP1: #f1fafe;
  --colorP2: #e1f4fd;
  --colorP3: #bde9fa;
  --colorP4: #82d8f7;
  --colorP5: #56ccf2;
  --colorP6: #17afe0;
  --colorP7: #0a8dbf;
  --colorP8: #09709b;
  --colorP9: #0c5e80;
  --colorP10: #104f6a;
  --colorP11: #0b3246;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  /* transition: 0.1s; */
}
